$min-size: 360; // 레이아웃 최소 크기
$min-next-size: 524; // 레이아웃 최소 다음 크기
$tablet-size: 1200; // 태블릿 최대 사이즈
$mobile-size: 920; // 모바일 최대 사이즈
$mobile-center-size: 750; // 모바일부터 중간 사이즈
$pc-inner-size: 1200; // PC일때 INNER 사이즈
$shadow-default: 5px 5px 10px rgba( 0, 0, 0, .16 ); // 그림자 기본
$main-bg-color:#111;
$accent-color:#f4491e;