@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');

body {
	* {
		box-sizing: border-box;
		font-family: 'Noto Sans KR', sans-serif;
		color: inherit;
		font-size: inherit;
	}
	img { vertical-align: middle; }

	&, html, .wrap { min-height: 100vh; }
	.detail-section {
		.page-title {
			text-align: center;
			font-size: 32px;
			font-weight: bold;
			padding-top: 50px;
		}
		.contents {
			padding: 100px;
			display: flex;
			flex-direction: column;
			gap:50px 0;
		} // .contents 
	} // .detail-section 

}