header {
    display: flex;
    align-items: center;
    gap:20px;
    height: 100px;
    h1 {
        width: 100px;
        &.logo {
            .link-go {
                font-size: 0;
                width: 100px;
                height: 100px;
                display: inline-flex;
                background: {
                    image:url(../images/icon/logo.png);
                    repeat:no-repeat;
                    size:contain;
                    position: 50% 50%;
                };
            }
        }
    }
    nav {
        &.gnb {
            flex: 1;
            ul {
                display: flex;
                > li {
                    flex: 1;
                    .nav-menus {
                        font-size: 32px;
                        font-weight: bold;
                    }
                    > ol {
                        position: absolute;
                        opacity: 0;
                        pointer-events: none;
                        &.on {
                            opacity: 1;
                            pointer-events: all;
                        }
                        li {
                            padding-left: 10px;
                            a {
                                display: inline-flex;
                                padding: 20px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: #{$tablet-size}px) {
}

@media (max-width: #{$mobile-size}px) {
}