header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .3);
    z-index: 123;
    color: #fff;
    padding: 20px 0;
    box-shadow: #{$shadow-default};
    .inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 0 100px;
        .logo {
            max-width: 45px;
            width: 100%;
            a {
                img {
                    max-width: 100%;
                }
            }
        } // .logo
        .gnb-area {
            flex: 1;
            display: flex;
            font-size: 13px;
            .gnb-wrap {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .gnb{
                    display: flex;
                    .gnb-menu {
                        height: 50px;
                        &.on {
                            ol {
                                opacity: 1;
                                top: 0;
                                pointer-events: all;
                            }
                        }
                        .title {
                            display: inline-flex;
                            align-items: center;
                            width: 100%;height: 100%;
                            justify-content: center;
                            padding: 0 45px;
                            font-weight: bold;
                        }
                        ol {
                            position: relative;
                            background-color: #fff;
                            top: 5px;
                            color: #000;
                            padding: 10px 0 100px 0;
                            box-shadow: #{$shadow-default};
                            border-radius: 15px;
                            opacity: 0;
                            pointer-events: none;
                            transition: all .2s ease-in-out;
                            &.on {

                            }
                            li {
                                padding: 10px;
                                .sub-menu {
                                    display:inline-flex;
                                    padding: 10px;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        + .gnb-menu {
                            margin-left: 30px;

                        }
                    }
                }
            }
        }

    }
}
footer {
    background-color: #1c1c1c;
    .wh-banner-wrap {
        border-top: 1px solid #ccc;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        font-weight: bold;
        font-size: 18px;
        color: #000;
        gap:0 28px;
        .sns-list {
            display: flex;
            align-items: center;
            gap:18px;
            .sns {
                width: 24px;height: 24px;
                display: inline-flex;
                background: {
                    repeat:no-repeat;
                    size:contain;
                };
                &.fb {
                    background-image:url(../images/icon/ico-facebook.png);
                }
                &.it {
                    background-image: url(../images/icon/ico-insta.png);
                }
                &.tt {
                    background-image: url(../images/icon/ico-twitter.png);
                }
                &.sr {
                    background-image: url(../images/icon/ico-link.png);
                }
            }
        }
    } // .wh-banner-wrap
    .link-area {
        color:#fff;
        padding: 150px 20px 60px 20px;
        display:flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap:50px;
        word-break: keep-all;
        .box-title {
            font-size: 18px;
            font-weight: bold;
        }
        .box-items {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap:20px;
            .chk-box {
                width: 30%;
                padding: 20px 0;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height:1px;
                    background-color: #555;
                }

                ul {
                    margin-top: 20px;
                    li {
                        font-size: 14px;
                        color: #aaa;
                        height: 40px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        } // .box-items
        .end-box {
            width: 100%;
            max-width: 583px;
            display: flex;
            flex-direction: column;
            gap:20px;
            word-break: keep-all;
            .chk-box {
                background-color: #313131;
                padding:50px;
                .open-box {
                    margin-top: 16px;
                    &.top {
                        p {
                            padding-bottom: 16px;
                            line-height: 1.4;
                            & + a {
                                display: inline-flex;
                                span {
                                    color: #fff;
                                    position: relative;
                                    padding-bottom: 10px;
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        display: inline-flex;
                                        width: 100%;
                                        height:2px;
                                        background-color: #fff;
                                        bottom:0;
                                        left:0;
                                    }
                                }
                            }
                        }
                    }
                    &.btm {
                        display: flex;
                        .line {
                            a {
                                color: #fff;
                                padding-right: 25px;
                                position: relative;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 20px;height: 20px;
                                    background: {
                                        image:url(../images/icon/ico-go.png);
                                        repeat:no-repeat;
                                        size:contain;
                                    };
                                    right:0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                            &:last-of-type {
                                padding-left: 30px;
                                position: relative;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 15px;
                                    transform: translateY(-50%);
                                    width:1px;
                                    height:18px;
                                    background-color: #fff;
                                }

                            }
                        }
                    }
                    .box-title {
                        font-size: 18px;
                        font-weight: bold;
                    }
                    p, a {
                        font-size: 15px;
                        color: #aaa;
                    }
                }
            }
        } // .end-box
    } // .link-area
    .ft-txt {
        padding: 60px 0 30px 0;
        color: #7d7d7d;
        text-align: center;
    } // .ft-txt
} // footer

@media (max-width: 1350px) {
    section {
        &.main-visual {
            .main-inner {
                .flip-img {
                    right: 80px;
                }
            } // .main-inner 
        } // &.main-visual
    }
}
@media (max-width: #{$tablet-size}px) {
    section {
        &.main-visual {
            padding-top: 114px;
            .main-inner {
                align-items: flex-start;
                padding-top: 80px;
                .text-wrap {
                    p {
                        font-size: 54px;
                        + p {
                            + p {
                                font-size: 22px;
                            } // + p + p
                        } // + p
                    } // p 
                } // .text-wrap
                .flip-img {
                    max-width: 450px;
                    bottom: 40%;   
                    right: 0;
                }
            } // .main-inner 
        } // &.main-visual
        &.info-section {
            height: auto;
            background-size: cover;
            .inner {
                .text-wrap {
                    height: auto;
                    padding:20% 0;
                    .top {
                        h2 {
                            font-size: 40px;
                            font-weight: bold;
                        }
                        p {
                            color: #3b3d40;
                            font-size: 40px;
                            font-weight: bold;
                        }
                    }
                    .bottom {
                        padding-top: 40px;
                        p {
                            font-size: 12px;
                            color: #656b6f;
                        }
                        .btn-wrap {
                            padding-top: 20px;
                        }
                    }
                }
            }
        } // &.info-section
        &.prd-section {
            .inner {
                padding: 0 20px;
                .text-wrap {
                    p {
                        font-size: 40px;
                    }
                }
            }
            .prd-slide-wrap {
                position: relative;
                padding: 0 60px;
                .prd-slide {
                    .prd-list {
                        li {
                            padding:20px;

                            p {
                                max-width: inherit;
                                height: 30px;
                            }
                            .btn-wrap {
                                margin-top: 30px;
                                bottom: -25px;
                                position: absolute;
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
                .btns {
                    color:#fff;
                    &::after, &::before {
                        font-size: 20px;
                    }
                    &.swiper-button-next {
                        right: var(--swiper-navigation-sides-offset,15px);
                    }
                    &.swiper-button-prev {
                        left: var(--swiper-navigation-sides-offset,15px);
                    }
                }

            }
        } // &.prd-section 
        &.article-section {
            .inner {
                padding: 50px 60px;
                .grid-list {
                    li {
                        p {
                            font-size: 16px;
                            & + p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        } // &.article-section
    } // section
    footer {
        .wh-banner-wrap {
            font-size: 14px;
        } // .wh-banner-wrap
        .link-area {
            .box-title {
                font-size: 14px;
            }
            .box-items {
                .chk-box {
                    ul {
                        li {
                            font-size: 12px;
                        }
                    }
                }
            } // .box-items
            .end-box {
                .chk-box {
                    .open-box {
                        .box-title {
                            font-size: 14px;
                        }
                        p, a {
                            font-size: 12px;
                        }
                    }
                }
            } // .end-box
        } // .link-area
        .ft-txt {
            font-size: 12px;
        } // .ft-txt
    } // footer
}
@media (max-width: #{$mobile-size}px) {
    header {
        height: 80px;
        .header-inner {
            padding: 0 40px;
            .logo {
                max-width: 150px;
                width: 30px;
                display: flex;
                height: 34px;
                background: {
                    image:url(../images/common/logo.png);
                    repeat:no-repeat;
                    size:contain;
                };      
                a {
                    display: flex;
                    width: 100%;
                    height: 100%;      
        
                }
            }
        }
    }
    section {
        &.main-visual {
            .main-inner {
                .text-wrap {
                    margin-left: 20px;

                }
                .flip-img {
                    max-width: 400px;
                    
                }
            } // .main-inner 
        } // &.main-visual
        &.info-section {
            .inner {
                .text-wrap {
                    .top {
                        h2 {
                            font-size: 30px;
                            font-weight: bold;
                        }
                        p {
                            color: #3b3d40;
                            font-size: 30px;
                            font-weight: bold;
                        }
                    }
                    .bottom {
                        padding-top: 20px;
                        p {
                            font-size: 12px;
                            color: #656b6f;
                        }
                        .btn-wrap {
                            padding-top: 20px;
                        }
                    }
                }
            }
        } // &.info-section
        &.prd-section {
            .inner {
                .text-wrap {
                    p {
                        font-size: 30px;
                        padding-top: 35px;
                        + p {
                            font-size: 20px;
                            padding-top: 20px;
                        }
                    }
                }
            }
            .prd-slide-wrap {
                .prd-slide {
                    .prd-list {
                        li {
                            p {
                            }
                            .btn-wrap {
                                bottom: -17px;
                            }
                        }
                    }
                }
                .btns {
                    color:#fff;
                    &::after, &::before {
                        font-size: 20px;
                    }
                    &.swiper-button-next {
                        right: var(--swiper-navigation-sides-offset,15px);
                    }
                    &.swiper-button-prev {
                        left: var(--swiper-navigation-sides-offset,15px);
                    }
                }

            } // .prd-slide-wrap 
        } // &.prd-section 
        &.video-section {
            .btn-wrap {
                .play {
                    img {
                        max-width: 200px;
                    }
                }
            }
        } // &.video-section
        &.article-section {
            .inner {
                padding: 50px 60px;
                .grid-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    li {
                        width: 100%;
                        padding: 50px;
                        background-size: contain;
                        background-position: bottom 0 right 0 !important;
                        position: relative;
                        p {
                            font-size: 30px;
                            color: #111;
                            z-index: 2;
                            position: relative;                            
                            & + p {
                                font-size: 14px;
                            }
                        }
                        &.item1 { 
                            @include itemsize(cover);
                        }
                        &.item2 { 
                            @include itemsize(50%);
                        }
                        &.item3 { 
                             @include itemsize(30%);
                        }
                        &.item4 { 
                             @include itemsize(30%);
                        }
                        &.item5 { 
                            @include itemsize(50%);
                        }
                        .bg-bk {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(133, 133, 133, 0.103);
                            z-index: 1;
                        }
                    }
                }
            }
        } // &.article-section
    }
    .btn-wrap {
        width: 100%;
        .detail-go {
            max-width: 125px;
            height: 34px;
            span {
                font-size: 12px;
            }
        }
    }
    footer {
        min-width: 280px;
        .wh-banner-wrap {
            height: auto;
            padding: 20px;
            flex-direction: column;
            gap:15px;
        } // .wh-banner-wrap
        .link-area {
            flex-direction: column;
            padding: 20px;
            gap:0;
            .box-title {
                height: 64px;
                display: flex;
                align-items: center;
                font-size: 16px;
                position: relative;
                cursor: pointer;
                &::after {
                    transition: all 0.3s;
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;height: 20px;
                    background: {
                        image:url(../images/icon/ico-arrow.png);
                        repeat:no-repeat;
                        size:contain;
                    };
                }
            }
            .box-items {
                gap:0;
                flex-direction: column;
                .chk-box {
                    width: 100%;
                    padding: 0;
                    position: relative;
                    &::after {
                        display: none;
                    }
                    ul {
                        margin-top: 0;
                        pointer-events: all;
                        opacity: 1;
                        li {
                            opacity: 1;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            pointer-events: all;
                            a {
                                display: flex;
                                width: 100%;
                                height: 100%;
                                align-items: center;
                            }
                        }
                    }
                }
            } // .box-items
            .end-box {
                width: 100%;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                gap:7px;
                word-break: keep-all;
                margin-top: 10px;
                font-size: 16px;
                .chk-box {
                    background-color: #313131;
                    padding:15px;
                    .open-box {
                        margin-top: 16px;
                        pointer-events: all;
                        opacity: 1;
                        &.top {
                            p {
                                padding-bottom: 16px;
                                line-height: 1.4;
                                & + a {
                                    display: inline-flex;
                                    span {
                                        color: #fff;
                                        position: relative;
                                        padding-bottom: 10px;
                                        &::after {
                                            content: '';
                                            position: absolute;
                                            display: inline-flex;
                                            width: 100%;
                                            height:2px;
                                            background-color: #fff;
                                            bottom:0;
                                            left:0;
                                        }
                                    }
                                }
                            }
                        }
                        &.btm {
                            flex-direction: column;
                            .line {
                                a {
                                    color: #fff;
                                    padding-right: 25px;
                                    position: relative;
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        width: 20px;height: 20px;
                                        background: {
                                            image:url(../images/icon/ico-go.png);
                                            repeat:no-repeat;
                                            size:contain;
                                        };
                                        right:0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }
                                }
                                &:last-of-type {
                                    padding-left: 0;
                                    margin-top: 20px;
                                    padding-bottom: 20px;
                                    &::after {
                                        display: none;
                                    }
    
                                }
                            }
                        }
                        .box-title {
                            font-size: 16px;

                        }
                        p, a {
                            font-size: 14px;
                            pointer-events: all;
                            opacity: 1;
                        }
                    }
                }
            } // .end-box
        } // .link-area
        .ft-txt {
            padding: 60px 0 30px 0;
        } // .ft-txt
    } // footer
}
@media (max-width: #{$mobile-center-size}px) {
    section {
        &.main-visual {
            .main-inner {
                .text-wrap {
                    
                    p {
                        font-size: 50px;
                        + p {
                            + p {
                                font-size: 20px;
                            } // + p + p
                        } // + p
                    } // p 
                } // .text-wrap
                .flip-img {
                    max-width: 350px;
                    bottom: 30%;   
                }
            } // .main-inner 
        } // &.main-visual

    } // section
}
@media (max-width: #{$min-next-size}px) {
    section {
        &.main-visual {
            height: auto;
            padding-bottom: calc(100vh - 50%);
            .main-inner {
                .text-wrap {
                    p {
                        font-size: 35px;
                        + p {
                            + p {
                                font-size: 12px;
                            } // + p + p
                        } // + p
                    } // p 
                } // .text-wrap
                .flip-img {
                    max-width: 250px;
                    right: 50%;
                    transform: translate(50%, 50%);
                }

            } // .main-inner 
        } // &.main-visual
        &.prd-section {
            .inner {
                padding: 0 20px;
                .text-wrap {
                    p {
                    }
                }
            }
            .prd-slide-wrap {
                padding: 0 40px;
                .prd-slide {
                    .prd-list {
                        li {
                            padding:20px;
                        }
                    }
                }
                .btns {
                    color:#fff;
                    &::after, &::before {
                        font-size: 20px;
                    }
                    &.swiper-button-next {
                        right: var(--swiper-navigation-sides-offset,5px);
                    }
                    &.swiper-button-prev {
                        left: var(--swiper-navigation-sides-offset,5px);
                    }
                }

            } // .prd-slide-wrap 
        } // &.prd-section 
        &.video-section {
            .btn-wrap {
                .play {
                    img {
                        max-width: 100px;
                    }
                }
            }
        } // &.video-section
        &.article-section {
            .inner {
                padding: 50px 20px;
                .grid-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    li {
                        width: 100%;
                        padding:25px;
                        background-size: contain;
                        background-position: bottom 0 right 0 !important;
                        position: relative;
                        p {
                            font-size: 15px;
                            & + p {
                                font-size: 14px;
                            }
                        }
                        &.item1 { 
                            background-size: cover;
                        }
                        &.item2 { 
                            background-color: #c2d1fb;
                            background-size: 200px;
                        }
                        &.item3 { 
                            background-color: #f6f6f6;
                            background-size: 150px;
                        }
                        &.item4 { 
                            background-color: #f6f6f6;
                            background-size: 150px;
                        }
                        &.item5 { 
                            background-color: #f6f6f6;
                            background-size: 200px;
                        }

                    }
                }
            }
        } // &.article-section
    } // section
}
@media (max-width: #{$min-size}px) {
    section {
        min-width: 280px;
        
        &.main-visual {
            padding-bottom: calc(100vh - 100%);
            .main-inner {
                .text-wrap {
                    p {
                        font-size: 27px;
                        + p {
                            + p {
                                font-size: 12px;
                            } // + p + p
                        } // + p
                    } // p 
                } // .text-wrap
                .flip-img {
                }
            } // .main-inner 
        } // &.main-visual
        &.info-section {
            .inner {
                .text-wrap {
                    .top {
                        h2 {
                            font-size: 18px;
                            font-weight: bold;
                        }
                        p {
                            color: #3b3d40;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                    .bottom {
                        padding-top: 10px;
                        p {
                            font-size: 12px;
                            color: #656b6f;
                        }
                        .btn-wrap {
                            padding-top: 20px;
                        }
                    }
                }
            }
        } // &.info-section
        &.prd-section {
            .inner {
                .text-wrap {
                    p {
                        font-size: 27px;
                        + p {
                            font-size: 17px;
                        }
                    }
                }
            }
            .prd-slide-wrap {
                padding: 0 20px;
                .prd-slide {
                    .prd-list {
                        li {
                            padding:20px;
                        }
                    }
                }
                .btns {
                    display: none;
                }

            } // .prd-slide-wrap 
        } // &.prd-section 
        &.video-section {
            .btn-wrap {
                .play {
                    img {
                        max-width: 50px;
                    }
                }
            }
        } // &.video-section

    } // section
}
