header {
    position: fixed;
    width: 100%;
    height: 114px;
    .header-inner {
        padding: 0 70px 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .logo {
            max-width: 150px;
            width: 30px;
            display: flex;
            height: 34px;
            background: {
                image:url(../images/common/logo.png);
                repeat:no-repeat;
                size:contain;
            };      
            a {
                display: flex;
                width: 100%;
                height: 100%;      
    
            }
        }
        .gnb-wrap {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .gnb {
                display: flex;
                font-size: 12px;
                li {
                    position: relative;
                    &:first-child {
                        .llt {
                            padding: 0 15px;
                        }
                    }
                    &.on {
                        .llt {
                            color: #f4491e;
                        }
                        ol {
                            opacity: 1;
                            top: 25px;
                            pointer-events: all;
                        }
                    }
                    .llt {
                        color: #fff;
                        padding: 0 60px;
                    }
                    ol {
                        max-width: 144px;
                        width: 100%;
                        position: absolute;
                        top: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 20px;
                        background-color: #fff;
                        border-radius: 10px;
                        opacity: 0;
                        pointer-events: none;
                        transition:all .25s ease-in-out;
                        > li {
                            + li {
                                margin-top: 10px;
                            }
                            > a {
                                white-space: nowrap;
                                padding: 10px 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
footer {
    background-color: #111;
    padding: 40px 100px;
    .ft-txt {
        color: #7d7d7d;
    }
}


@media (max-width: #{$tablet-size}px) {
}

@media (max-width: #{$mobile-size}px) {
    header {

        .header-inner {
            padding-right: 0;
            .logo {
                max-width: 150px;
                width: 30px;
                display: flex;
                height: 34px;
                background: {
                    image:url(../images/common/logo.png);
                    repeat:no-repeat;
                    size:contain;
                };      
                a {
                    display: flex;
                    width: 100%;
                    height: 100%;      
        
                }
            }
            .gnb-wrap {
                flex: initial;
                max-width: 280px;
                width: 100%;
                height: 100vh;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                .gnb {
                    flex-direction: column;
                    li {
                        position: relative;
                        &:first-child {
                            .llt {
                                padding: 0 15px;
                            }
                        }
                        &.on {
                            .llt {
                                color: #f4491e;
                            }
                            ol {
                                opacity: 1;
                                top: 25px;
                                pointer-events: all;
                            }
                        }
                        .llt {
                            color: #fff;
                            padding: 0 60px;
                        }
                        ol {
                            max-width: 144px;
                            width: 100%;
                            position: absolute;
                            top: 30px;
                            left: 50%;
                            transform: translateX(-50%);
                            padding: 20px;
                            background-color: #fff;
                            border-radius: 10px;
                            opacity: 0;
                            pointer-events: none;
                            transition:all .25s ease-in-out;
                            > li {
                                + li {
                                    margin-top: 10px;
                                }
                                > a {
                                    white-space: nowrap;
                                    padding: 10px 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}