section {
	padding: 100px;
    .pw-custom-wrap {
        .process-pw {
            display: flex;
            align-items: center;
            justify-content: center;
            gap:0 10px;
            margin-top: 15px;
            li {
				display: flex;
				align-items: center;
				justify-content: center;
				&.active {
					i {
						&:first-of-type {
							width: 21px; height: 21px;
							background-color: #333;
						}
					}
					+ li {
						i {
							background-color: #{$main-color};
							width: 34px;height: 34px;
						}
					}
				}
				i {
					display: inline-block;
					width: 21px; height: 21px;
					background-color: #eee;
					border: 1px solid #d6d6d6;
					border-radius: 50%;
				}
			}
        } // .process-pw 
    } // .pw-custom-wrap
	.add-wrap {
		margin-top: 50px;
		.input-line {
			&.max-inp3 {
				margin: 0 auto;
				max-width: 360px;
				min-width: 280px;
				display: flex;
				align-items: center;
				gap: 10px;
				input {
					text-align: center;
				}
			}
		}
	} // .add-wrap
	.agree-wrap {
		margin-top: 50px;
		.checkbox {
			display: flex;
			align-items: center;
			+ .checkbox {
				margin-top: 10px;
			}
			p {
				margin-left: 10px;
				font-size: 18px;
				font-weight: bold;
				color: #797979;
			}
		}
	} // .agree-wrap
}
@media (max-width: #{$tablet-size}px) {
}

@media (max-width: #{$mobile-size}px) {
}